@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";

.page-header {
    padding-bottom: 9px;
    margin: 60px 0 20px;
    border-bottom: 1px solid #eeeeee;
    
    h1{
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 1), 4px 4px 2px rgba(150, 150, 150, 1);
    }
}

#body_main{
    margin-bottom: 40px;
}

