$bck-color: rgba(80, 80, 80, 1);
$active-menu-color: #ED594C;
$hover-menu-color: #ED594C;
$bck-select-color: rgba(0, 158, 216, 1);
$time-trns: 0.3s;
$font-fam2: 'Forum', cursive;

/* menu
---------------------- */
.navbar-default.glavnaya {
  background: $bck-color;
  border: none;
  border-radius: 0;
  min-height: 35px;


  .navbar-brand {
    padding: 30px 15px;
    font-size: 30px;
    color: #fff;
  }

  .navbar-nav {
    float: none;

    &>li{
      $border-menu: 1px solid rgba(150, 150, 150, 0.39);
      border-left: $border-menu ;
      border-right: $border-menu ;

      &:first-child{
        border-left: none;
      }
      &:last-child{
        border-right: none;
      }
    }

    li {
      text-align: center;

      a {
        font-family: $font-fam2;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding: 7px 15px;
        letter-spacing: 2px;

        -webkit-transition: $time-trns;
        -moz-transition: $time-trns;
        -ms-transition: $time-trns;
        -o-transition: $time-trns;
        transition: $time-trns;

        &:hover, &:focus {
          color: $hover-menu-color;
          //background: $bck-select-color;
        }
      }

      &>.dropdown-menu{
        li{
          a{
            color: #000;
            padding-top: 10px;
            padding-bottom: 10px;

            &:hover{
              color: #fff;
              background-color: #aaaaaa;
            }
          }
        }
      }

    }
    .active {
      a, a:focus {
        //background: $bck-select-color;
        color: $active-menu-color;
      }
    }

    .open{
      &>a{
        background: $bck-color;
      }

        &:hover, &:focus{
        }
      }

    }

  }
