$bck-color: rgba(24, 25, 25, 1);
$bck-select-color: rgba(0, 158, 216, 1);
$time-trns: 0.3s;

$font-fam1: 'Forum', cursive;
$font-fam2: 'Comfortaa', cursive;

body{
  background-color: #ffffff;
}

header{
  height:170px;
}




/* content-blog
------------------- */
.blog-items{

  margin: 10px auto;
  text-align: center;

  .blog-item-content{
    /*display: inline-block;
    width: 30%;
    margin: 1%;*/

    .blog-item-content-text{
      height: 200px;
      overflow: hidden;
      text-align: left;

      .blog-item-content-more{
        padding: 10px 0;
        a{
          font-family: $font-fam1;
          font-size: 16px;
          display: block;
          color: #999;
          text-transform: uppercase;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;

          &:hover{
            color: #ED594C;
            text-decoration: none;
          }
        }
      }
    }

    .blog-item-content-title{
      h2{
        text-align: left;
        font-size: 24px;
        text-shadow: 2px 2px 1px #fff, 2px 2px 2px #999 ;
        height: 55px;
        overflow: hidden;
      }
    }

    .blog-item-content-image{
      position: relative;
      width: 100%;
      height: 125px;
      overflow: hidden;
      border: 1px solid #bbb;

      img {
        width: auto;
        height: 125px;
      }
    }
  }
}

.contents-block{
  margin-top: 30px;
}

.about {
  .content-image {
    width: 100%;
    position: relative;
    height: 150px;
    overflow: hidden;
    border: 3px solid #fff;
    vertical-align: bottom;

    img {
      /*position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;*/
      width: 100%;
    }
  }




}

.animation-delay2{
  animation-delay:0.2s;
}
.animation-delay4{
  animation-delay:0.4s;
}
.animation-delay6{
  animation-delay:0.6s;
}
.animation-delay8{
  animation-delay:0.8s;
}
.animation-delay10{
  animation-delay:1.0s;
}
.animation-delay12{
  animation-delay:1.2s;
}
.animation-delay14{
  animation-delay:1.4s;
}
.animation-delay16{
  animation-delay:1.6s;
}

#checkout_consult{
  color: #fff;
  width: 100%;
  background-color: rgba(237, 89, 76, 1);
  border: solid rgba(80, 80, 80, 1) 0px;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &:hover{
    background-color: rgba(150, 150, 150, 1);
    border-color: rgba(80, 80, 80, 1);
  }

}