/*
/
/ Content Styles
/
/------------------------------------------- */

/* H1
-------------------------------------------- */
$font-fam1: 'Forum', cursive;
$font-fam2: 'Comfortaa', cursive;

h1 {
  font-family: $font-fam2;
  color: #505050;;
  font-size: 26px;
  position: relative;
  margin-bottom: 15px;
}

.logotip {
  h1 {
    margin: 40px 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 40px;
  }
  p {
    font-family: $font-fam1;
    font-size: 20px;
  }
}

.top-contact {
  margin-top: 85px;
  p {
    font-family: $font-fam1;
    font-size: 20px;
    float: right;
    padding: 5px 20px;
    &:first-child {
      border-left: 2px solid rgba(237, 89, 76, 1);
    }
  }
}

.content-text {
  padding: 10px 15px;
  font-size: 12px;
}

.articles {
  .content-text {
    height: 135px;
    overflow: hidden;
  }
}

.content-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  margin: 0 15px;
  padding: 5px 15px;
  transition: 0.3s;

  &:hover {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
}

/* BLOG NEWS
------------------- */
$nsubh-bck-color: rgba(42, 43, 44, 1);
.blog-news {
  h1 {
    font-family: Arial, Tahoma, Sans-Serif;
    padding: 20px;
    /*background-color: rgba(84, 86, 88, 1);
    border: 0px solid rgba(84, 86, 88, 1);

    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }*/
  }
  .blog-news-item-imgs {
    overflow: hidden;
    border: 3px solid #fff;
    width: 100%;
    img{
      height: 80px;
    }
  }
}

/* contact block
-------------------- */
.block-contacts {
  border: 0px solid rgba(84, 86, 88, 1);
  background-color: rgba(84, 86, 88, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  color: #fff;
  h1 {
    background: none;
  }
}