/* blog news main page
------------------------------ */
$bck-color: rgba(24, 25, 25, 1);
$bck-select-color: rgba(0, 158, 216, 1);
$font-fam1: 'Forum', cursive;
$font-fam2: 'Comfortaa', cursive;

.blog-news{

  background-color: rgba(238, 238, 238, 0.55);

  .blog-news-item{
    margin: 10px 0 30px 0;
    a{
      color: #000;
      transition: 0.3s;

      &:hover{
        color: #800000;
        text-decoration: none;
      }
    }

    .blog-news-item-img{
      overflow: hidden;
      border: 3px solid #fff;
      width: 100%;
      img{
        height: 80px;
      }
    }
    h2{
      font-size: 20px;
      /*font-weight:bold;*/
      margin: 0;
      padding: 0;
      font-family: $font-fam1;
      height: 70px;
      overflow: hidden;
    }
    h5{
      margin: 3px 0;
      font-family: $font-fam2;
    }
    .blog-news-item-text{
      width: 100%;
      font-size: 12px;
      text-align: left;
    }
  }
}

.onenews{
  .onenews-title{
    h2{
      font-weight: bold;
      margin:0;
      padding:0;
    }
  }
  .news-text{
    margin: 20px 0;
    img.onenews-img{
        width: 30%;
        height: auto;
        float: left;
        margin: 0 10px 20px 0;
        border: 3px solid #fff;
    }
  }
}

.blog-lastnews{
  .blog-news{
    h1{
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin: 0;
      padding: 20px 10px;

    }
    .blog-news-item{
      margin: 10px 0;
      a{
        color: #000;
        transition: 0.3s;

        &:hover{
          color: #800000;
          text-decoration: none;
        }
      }
      .blog-news-item-img{
        overflow: hidden;
        border: 3px solid #fff;
        width: 100%;
        img{
          height: 100px;
        }
      }
      h2{
        font-size: 14px;
        font-weight:bold;
        margin: 0;
        padding: 0;
      }
      h5{
        margin: 3px 0;
        font-size: 10px;
      }
      .blog-news-item-text{
        width: 100%;
        font-size: 10px;
        text-align: left;
      }
    }
  }
}

