.my-rabotaem-chtoby-pomoch{
  h3{
    font-size: 40px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      margin: 0;
      padding: 10px 5px;
      border-bottom: 1px solid rgba(150,150,150,0.2);

      &:nth-child(odd){
        text-transform: uppercase;
      }

      a{
        color: #ED594C;

        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        display: block;

        &:hover{
          color: #969696;
          text-decoration: none;
        }
      }
    }

  }
}